.formcontainer{
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 1em;
    text-align: left;
    width: 22rem;
  }

  .form {
    padding: 1em;
  }
   
 .input{
  width: 20rem;
 }

 .link-f {
  margin-top: 40px;
  text-decoration: none;
  font-weight: lighter;
  padding: 1px 35px 8px 35px;
  background-image: linear-gradient(to right, #9beebb, #17d7a0);
  border-radius: 30px;
  color: black;
  margin-right: 80%;
}